<head>
    <title>todo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        {{> header}}
        {{> todos}}
        {{> form}}
        <!-- Loading Templates -->
    </div>
</body>