/* CSS declarations go here */

.completed {
    text-decoration: line-through;   
}

.secondary-content a{
    margin: 0 0.5em;
}

.complete-task {
    color: #1cac1c
}

.incomplete-task {
    color: #be1717
}

i {
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}